%h1
  = @resource_name.camelize
= link_to 'Add new', [:new, :admin, @resource_name]
%table
  %thead
    %tr
      - (@resource_class.accessible_attributes - [""]).each do |attr|
        %th= attr
  %tbody
    - @resources.each do |resource|
      %tr
        - (@resource_class.accessible_attributes - [""]).each do |attr|
          %td= link_to resource.send(attr), [:admin, resource]